[submodule "deps/cppzmq"]
	path = deps/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "deps/rxcpp"]
	path = deps/rxcpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
[submodule "deps/sole"]
	path = deps/sole
	url = https://github.com/r-lyeh/sole.git
